<%- include('../partials/header'); -%>

<div class="container">
    <% for(let i=0; i < result1.length; i++) {%>
    <h3>Displaying Comments for Support Ticket #<%=result1[i].id%>:</h3> </br> 
	<h4>Short Description: <%=result1[i].subject%></h4> </br> 
    <% } %>

    <div class="container">
	  <% if (result2.length> 0) {%>
			<% for(let i=0; i < result2.length; i++) {%>   	
				<div class="card-body d-inline-block">
				<table class="table">
				<tbody>
				<tr>
				<th scope="row"><%=i+1%></th>
					<td> Comment #<%=i+1%>: <%=result2[i].details%></td>
					<td> Date Created: <%=result2[i].date_created%> </td>
  
				</tr>
				</tbody>
				</table>
				</div> 
    <% } %>
	  <% } else { %>
            <h3 class="text-center">No Comments Found So Far.</h3>
        <% } %>
</div>

<%- include('./addReply.ejs'); -%>

</div>

<%- include('../partials/footer'); -%>